<div
  class="row hoverDiv bg-white border-bottom border-light"
  id="container"
  [ngClass]="isEditingProps ? 'hidden' : ''"
>
  <div class="col-2 pt-3">
    <input
      (change)="toggleTodo()"
      [checked]="todoProps.isCompleted"
      class="form-check-input"
      type="checkbox"
      id="flexCheckDefault"
    />
  </div>
  <div class="text-left col-8 pt-3">
    <label class="float-start" (click)="setTodoInEditMode()">
      <span [ngClass]="{ strikeThrough: todoProps.isCompleted ? true : false }">
        {{ todoProps.text }}
      </span>
    </label>
  </div>
  <div class="col-2">
    <button type="button" class="btn" (click)="deleteTodo(todoProps.id)">
      <i class="bi bi-x-lg delete-icon"></i>
    </button>
  </div>
</div>
<ng-container *ngIf="isEditingProps">
  <input
    class="edit"
    #textInput
    [value]="editingText"
    (keyup)="changeText($event)"
    (keyup.enter)="changeTodo()"
  />
</ng-container>
