<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <div class="row">
      <div class="col-4">
        <a class="navbar-brand" href="#">
          <img
            src="assets/image/todo.png"
            width="40"
            height="40"
            class="inline-responsive"
            alt=""
          />
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-6 text-center">
        <h1 style="display: inline">Todo</h1>
      </div>
    </div>
  </div>
</nav>
