<div class="row">
  <div class="col-3">
    <span class="mt-3">{{ activeCount | async }} {{ label | async }}</span>
  </div>
  <div class="col-8">
    <ul class="list-group list-group-horizontal">
      <li
        class="list-group-item"
        [ngClass]="{
          active: (filter$ | async) === filterEnum.active
        }"
      >
        <a
          (click)="changeFilter($event, filterEnum.active)"
          href="/"
          class="text-decoration-none"
        >
          Active
        </a>
      </li>
      <li
        class="list-group-item"
        [ngClass]="{
          active: (filter$ | async) === filterEnum.completed
        }"
      >
        <a
          (click)="changeFilter($event, filterEnum.completed)"
          href="/"
          class="text-decoration-none"
        >
          Complete
        </a>
      </li>
      <li
        class="list-group-item"
        [ngClass]="{ active: (filter$ | async) === filterEnum.all }"
      >
        <a
          (click)="changeFilter($event, filterEnum.all)"
          href="/"
          class="text-decoration-none"
        >
          All
        </a>
      </li>
    </ul>
  </div>
</div>
