<div class="row">
  <div class="col col-sm-8 mx-auto">
    <div class="row">
      <div class="col-sm-12 bg-white">
        <div class="row">
          <div class="col-3">
            <span class="mt-3">total = "3"</span>
          </div>
          <div class="col-8">
            <ul class="list-group list-group-horizontal">
              <li class="list-group-item active">Active</li>
              <li class="list-group-item">Complete</li>
              <li class="list-group-item">All</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
