<ul class="list-group mb-0">
  <li
    class="list-group-item d-flex justify-content-between align-items-center border-start-0 border-top-0 border-end-0 border-bottom rounded-0 mb-2"
    *ngFor="let todo of todos; let i = index"
  >
    <div class="d-flex align-items-center" id="{i}">
      <input
        class="form-check-input me-2"
        type="checkbox"
        value=""
        aria-label="..."
      />
      {{ todo.description }}
    </div>

    <button class="btn btn-success">Done</button>
    <button class="btn btn-danger" (click)="onDelete(i)">Delete</button>
  </li>
</ul>
