<section class="vh-100" style="background-color: #e2d5de">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 15px">
          <div class="card-body p-5">
            <h6 class="mb-3">Awesome Todo List</h6>
            <app-todo-form></app-todo-form>
            <div class="row">
              <ul class="list-group list-group-horizontal">
                <li class="list-group-item">
                  <a routerLink="/active">active</a>
                </li>
                <li class="list-group-item">
                  <a routerLink="/complete">completed</a>
                </li>
              </ul>
            </div>
          </div>
          <app-todos-list></app-todos-list>
        </div>
      </div>
    </div>
  </div>
</section>
